.bankName {
    font-size: 40px;
}

.cc_full{
    font-size: 20px;
}

.cs_short {
    font-size: 10px;
}

.validThru {
    font-size: 15px;
}

.expiredDate {
    font-size: 18px;
}

.name{
    font-size: 30px;
}